.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.wrapper button {
	border: none;
	outline: none;
	background: none;
	color: var(--color-lightgray);
}

.wrapper button:disabled .icon {
	color: var(--color-blue);
}

.wrapper button:focus .icon {
	outline: 1px solid var(--color-blue);
}

.divider {
	height: 2rem;
	width: 1px;
	background-color: var(--color-lightgray);
}

.icon {
	height: 2.5rem;
	width: 2.5rem;
}
