.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2.5rem;
	height: 2.5rem;

	border: none;
	outline: none;
	border-radius: 50%;
}

.button:disabled {
	cursor: default;
}

.icon {
	height: 1.25rem;
	width: 1.25rem;
}

.lime {
	color: var(--color-lime);
}

.limeFilled {
	background-color: var(--color-lime);
}

.violet {
	color: var(--color-violet);
}

.violetFilled {
	background-color: var(--color-violet);
}

.red {
	color: var(--color-lightred);
}

.redFilled {
	background-color: var(--color-lightred);
}

.lime,
.violet,
.red {
	background-color: transparent;
}

.lime:disabled,
.violet:disabled,
.red:disabled {
	color: var(--color-lightgray);
}

.limeFilled,
.violetFilled,
.redFilled {
	color: white;
}

.limeFilled:disabled,
.violetFilled:disabled,
.redFilled:disabled {
	background-color: var(--color-lightgray);
}
